{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_title %}- Checkout{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="join-image featured-image">
      <div class="overlay-text-featured-img-join">
        <h2>Membership Registration</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
    <div class="container-card my-4">
        <div class="bkgrd-green color-block"></div>
        <div class="p-4 card-subsection container-membership">
            <h4 class="text-green">STEP 4: Renew your annual membership</h4>
            {% if basket_items %}
            <!-- Basket Items Display here -->
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Membership Level</th>
                                    <th scope="col">Renewal Cost</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            {% for item in basket_items %}
                            <tr>
                                <td class="py-3">
                                    <hr>
                                    <p>
                                        {{ item.selected_membership_level.name }}
                                    </p>
                                </td>
                                <td class="py-3">
                                    <hr>
                                    <p>
                                        €{{ item.price }}
                                    </p>
                                </td>
                                <td class="py-3">
                                    <hr>
                                    <p>
                                        {{ item.quantity }}
                                    </p>
                                </td>
                                <td class="py-3">
                                    <hr>
                                    <p>
                                        €{{ total }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container-card my-4">
        <div class="bkgrd-yellow color-block"></div>
        <div class="p-4 card-subsection">
            <h4 class="text-green">Update Member Details</h4>
            <p>
                Please review your information.
            </p>
            <!-- Member Private Data Form -->
            <form action="{% url 'checkout_existing_member' %}" method="POST" id="payment-form">    
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label px-2 w-auto">Member Details:</legend>
                    {{ member_data_form.default_firstname | as_crispy_field }}
                    {{ member_data_form.default_lastname | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label px-2 w-auto">Billing Information:</legend>
                    {{ member_data_form.default_street_address1 | as_crispy_field }}
                    {{ member_data_form.default_street_address2 | as_crispy_field }}
                    {{ member_data_form.default_town_or_city | as_crispy_field }}
                    {{ member_data_form.default_county | as_crispy_field }}
                    {{ member_data_form.default_postcode | as_crispy_field }}
                    {{ member_data_form.default_country | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label px-2 w-auto">Payment Details:</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
               <div class="submit-button text-right mt-5 mb-2">
                    <a href="{% url 'view_basket' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Modify Basket</span>
                    </a>
                    <button id="submit-button" class="button-join-us">
                        <span class="">Complete Purchase </span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-4">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>€{{ total|floatformat:2 }}</strong></span>
                    </p>
               </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fa-solid fa-spinner"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}