{% extends 'base.html' %}
{% load static %}


{% block extra_title %}- Checkout Success{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="join-image featured-image">
      <div class="overlay-text-featured-img-join">
        <h2>Renewal Confirmation</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
    <div class="container-card my-4">
        <div class="bkgrd-green color-block"></div>
        <div class="p-4 card-subsection container-membership">
            <h4 class="text-green">Thank you!</h4>
            <p>Your renewal information is below. A confirmation email will be sent to
                <strong>{{ member.email }}</strong>
            </p>
            <h5>Your renewal summary:</h5>
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Membership Level</th>
                            <th scope="col">Renewal Cost</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="py-3">
                            <hr>
                            <p>
                                {{ purchase.membership_purchased }}
                            </p>
                        </td>
                        <td class="py-3">
                            <hr>
                            <p>
                                €{{ purchase.purchase_total }}
                            </p>
                        </td>
                        <td class="py-3">
                            <hr>
                            <p>
                                1
                            </p>
                        </td>
                        <td class="py-3">
                            <hr>
                            <p>
                                €{{ purchase.purchase_total }}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Purchase Date: {{ purchase.get_purchase_date }}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <a href="{% url 'dashboard' member.id %}" class="button-join-us">Go to Member Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
