{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %}- Membership Registrations{% endblock %}

{% block content %}
<div class="featured-image-container">
   <div class="registration-image featured-image">
        <div class="overlay-text-featured-img-join">
            <h2>Membership Registration</h2>
        </div>
    </div>
</div>

<div class="container-md container-basket px-6 justify-content-center">
    <div class="container-card my-4">
        <div class="p-4 card-subsection container-membership">
            <h4 class="text-green text-center">STEP 2: Review Selected Membership Level</h4>
            <p>
                Complete your WIFT registration below and gain exclusive access to our member's only programs and
                events!
            </p>
            <h5 class="text-center">Your Basket:</h5>
            <div class="row">
                <div class="col">
                    {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Membership Level</th>
                                    <th scope="col">Annual Cost</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            {% for item in basket_items %}
                            <tr>
                                <td class="py-3">
                                    <p>
                                        {{ item.selected_membership_level.name }}
                                    </p>
                                </td>
                                <td class="py-3">
                                    <p>
                                        €{{ item.price }}
                                    </p>
                                </td>
                                <td class="py-3">
                                    <p>
                                        {{ item.quantity }}
                                    </p>
                                </td>
                                <td class="py-3">
                                    <p>
                                        €{{ total }}
                                    </p>
                                </td>
                            </tr>
                            
                        </table>
                        <hr>
                    </div>
                    <div >
                        <div>
                            <div class="py-2 px-1">
                                <a href="{% url 'join' %}">
                                    <span class="icon">
                                        <i class="fa-solid fa-circle-chevron-left"></i>
                                    </span>
                                    Change your selection
                                </a>
                            </div>
                            <div>
                                <!-- Remove membership from basket -->
                                <form  class="form update-form" method="POST" action="{% url 'remove_from_basket' item.selected_membership_level.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group button-remove">
                                            <button type="submit">
                                                <i class="fa-solid fa-trash-can"> </i>
                                                Remove membership from basket
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="container-checkout-button">
                            <a href="{% url 'account_signup' %}">
                                <span class="text-uppercase button-join-us icon">
                                    Secure Checkout <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </div>                     
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% else %}
                        <hr>
                        <p class="lead mb-5">Your basket is empty</p> 
                        <hr>
                </div>
                <div>
                    <a href="{% url 'join' %}">
                        <span class="icon">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </span>
                        Review membership levels
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}