@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

html {
    height: 100%;
}

body {
    background-color: #eeebda;
    color: black;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: medium;
}

/* TEXT STYLING */
a, a:visited {
    color: #647232;
    text-decoration: none;
}

a:hover {
    color: #065a65;
    cursor: pointer;
    text-decoration: none;
}

h4 {
    font-family: Bebas Neue, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .5rem;
}

.text-green {
    color: #647232;
}

.text-blue {
    color: #065a65;
}

/* Background colours */
.bkgrd-green {
    background-color: #647232;
}

.bkgrd-blue {
    background-color: #647232;
}

.bkgrd-yellow {
    background-color: #c68e07;
}

/* test styles */
.test-blue {
    background-color: blue;
}

.test-orange {
    background-color: orange;
}

.test-red {
    background-color: red;
}

.test-aqua {
    background-color: aqua;
}

.test-purple {
    background-color: purple;
}

/* Navigation */
.navbar {
    padding-top: 25px;
}

.navbar-brand {
    padding-right: 25px;
}

.dropdown-toggle::after { 
    content: none; 
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    border: none;
}

.button-login {
    background-color: #065a65;
    color: #eeebda;
    
    border: none;
    margin: 0px 5px;
    padding: 5px 20px;
    border-radius: 5px;
}

/* Index Page */
.featured-image-container {
    padding: 0px;
}

.home-image {
    background: url("/media/wift_home_1067x600.png") no-repeat bottom 0px right 0px/cover, #c68e07;
    height: 600px;
    width: 100%;
    position: relative;
}

/* Featured Image section */
.button-join-us {
    font-family: Poppins, sans-serif;
    color: #fff;
    text-transform: uppercase;
    /* text-align: right; */
    /* font-size: 130%; */
    position: absolute;
    right: 25px;
    top: 90px;
    width: auto;
    padding: 10px;
    border: none;
    background-color: #065a65;
}

.button-join-us :hover {
    background-color: #647232;
    cursor: pointer;
}

#cover-text {   
    font-family: Oswald, sans-serif;
    text-align: right;
    font-size: 130%;
    position: absolute;
    right: 25px;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-right: 10px;
}

#cover-text {
    color: #065a65;
    text-transform: uppercase;
}

#cover-text > h1 {
    color: #065a65;
}

/* Home page subsection */
.container-home-subsection {
    margin: 25px 0px;
}

.card-subsection {
    background-color: #fff;
    border: .5px dotted #647232;
}

.color-block {
    height: 80px;
}

/* Footer */
footer {
    background-color: #065a65;
    padding: 50px 10px;
    
}