@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

html {
    height: 100%;
}

body {
    background-color: #eeebda;
    color: black;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: medium;
}

/* GLOBAL TEXT STYLING */
a, a:visited {
    color: #647232;
    text-decoration: none;
}

a:hover {
    color: #065a65;
    cursor: pointer;
    text-decoration: none;
}

.text-green {
    color: #647232;
}

.text-blue {
    color: #065a65;
}

/* Background colours */
.bkgrd-green {
    background-color: #647232;
}

.bkgrd-blue {
    background-color: #647232;
}

.bkgrd-yellow {
    background-color: #c68e07;
}

/* test styles */
.test-blue {
    background-color: blue;
}

.test-orange {
    background-color: orange;
}

.test-red {
    background-color: red;
}

.test-aqua {
    background-color: aqua;
}

.test-purple {
    background-color: purple;
}

/* Navigation */
.navbar {
    padding-top: 25px;
}

.navbar-brand {
    padding-right: 25px;
}

.dropdown-toggle::after { 
    content: none; 
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    border: none;
    color: #fff;
    background-color: #647232;
}

.button-login {
    background-color: #065a65;
    color: #eeebda;
    width: 150px;
    border: none;
    /* margin: 0px 5px; */
    padding: 5px 20px;
    border-radius: 5px;
}

/* Home Page */
.home-image {
    background: url("/media/wift_home_1067x600.png") no-repeat bottom 0px right 0px/cover, #c68e07;
    height: 600px;
    width: 100%;
    position: relative;
}

/* Home page - Featured Image section */
.featured-image-container {
    padding: 0px;
}

.button-join-us {
    font-family: Poppins, sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 25px;
    top: 90px;
    width: auto;
    padding: 10px 20px;
    border: none;
    background-color: #065a65;
}

.button-join-us :hover {
    background-color: #647232;
    cursor: pointer;
}

#cover-text {   
    font-family: Oswald, sans-serif;
    text-align: right;
    font-size: 130%;
    position: absolute;
    right: 25px;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-right: 10px;
}

#cover-text {
    color: #065a65;
    text-transform: uppercase;
}

#cover-text > h1 {
    color: #065a65;
}

/* Home page subsection */
.container-card h4 {
    font-family: Bebas Neue, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .5rem;
    text-align: center;
}

.container-home-subsection {
    margin: 25px 0px;
    
}

.card-subsection {
    background-color: #fff;
    border: .5px dotted #647232;
}

.color-block {
    min-height: 120px;
    min-width: 120px;
    border-radius: 15px 15px 0px 0px;
}

/* Footer */
footer {
    background-color: #065a65;
    padding: 50px 10px;
    color: #fff;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer a {
    color: #fff !important;
}

footer a:hover {
    color: #647232 !important;
    text-decoration: none;
    cursor: pointer;
}

footer button {
    background-color: #c68e07;
    border: none;
}

/* Media query for mobile devices and later (375px and up) */
@media screen and (min-width: 375px) {

}

/* Media query for tablet devices and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Home page */
    .home-image {
        background: url("/media/wift_home_1067x600.png") no-repeat bottom 0px right -100px/cover, #c68e07;
    }
    
    .button-join-us {
        right: 360px;
    }

    #cover-text {   
        right: 360px;
        bottom: 180px;
    }

    #cover-text > h1 {
        font-size: 4rem;
    }

    #cover-text > h2 {
        font-size: 3rem;
    }

    #cover-text > h5 {
        font-size: 2rem;
    }

    /* Home page - subsectioni */
    .container-home-subsection {
        margin: 0 auto;
    }
}

/* larger devices - laptops, desktops, and up (992px and up)  */
@media screen and (min-width: 992px) {
    /* Navigation */
    .button-login {
        margin-left: 15px;
    }

    /* Home page */
    .home-image {
        background: url("/media/wift_home_1067x600.png") no-repeat bottom 0px right -50px/cover, #c68e07;
    }

    .button-join-us {
        right: 460px;
    }

    #cover-text {   
        right: 460px;
        bottom: 180px;
    }

    /* Home page - subsection */
    .container-card {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .container-card h4 {
        text-align: left;
    }

    .color-block {
        border-radius: 15px 0px 0px 15px;
    }
}

/* larger devices - laptops, desktops, and up (1280px and up)  */
@media screen and (min-width: 1280px) {
    /* Home page */
    .home-image {
        background: url("/media/wift_home_1067x600.png") no-repeat center/cover, #c68e07;
    }

    .button-join-us {
        right: 760px;
    }

    #cover-text {   
        right: 760px;
        bottom: 180px;
    }
}
