{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="featured-image-container">
    <div class="about-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Ooops!</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="p-4 card-subsection">
        <h4 class="text-green text-center">404 - Page not Found</h4>
        <div class="text-center">
            <h5 class="p-4">
                The page you are looking for isn't available
            </h5>
            <div class="my-5">
                <h5>
                    <a href="{% url 'home' %}" 
                        class="text-center py-3">
                            Return to WIFT Home page
                    </a>
                </5>
            </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}