{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock %}


{% block content %}
<div class="container-md container-home-subsection px-6 justify-content-center">
    <div class="container-card my-4">
        <div class="bkgrd-green color-block"></div>
        <div class="p-4 card-subsection">
            <h4 class="text-green">{% trans "Confirm Email Address" %} in all-auth</h4>
  
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            {% if can_confirm %}
            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button type="submit">{% trans 'Confirm' %}</button>
            </form>
            {% else %}
            <p>{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
            {% endif %}

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
        </div>
    </div>
  </div>

{% endblock %}
