{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="bkgrd-green color-block"></div>
      <div class="p-4 card-subsection">
          <h4 class="text-green">{% trans "Sign Out" %}</h4>

          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="button-login">{% trans 'Sign Out' %}</button>
          </form>
      </div>
  </div>
</div>

{% endblock %}
