{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-md container-home-subsection px-6 justify-content-center">
    <div class="container-card my-4">
        <div class="bkgrd-green color-block"></div>
        <div class="p-4 card-subsection">
            <h4 class="text-green">{% trans "Change Password" %}</h4>
  
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</div>
{% endblock %}
