{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="bkgrd-green color-block"></div>
      <div class="p-4 card-subsection">
          <h4 class="text-green">{% trans "Register a WIFT Online Account" %}</h4>

          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="button-login">{% trans "Sign Up" %} &raquo;</button>
          </form>
      </div>
  </div>
</div>

{% endblock %}
