{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Contact Page{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="contact-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Contact Us</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="p-4 card-subsection">
        <h4 class="text-green">WIFT Location:</h4>
        <p>
          WIFT is located conveniently in Dublin, Ireland.
        </p>
        <p>
          Our meeting space is lcoated at:
        </p>  
        <p>
            Telephone: 123-234-3546
        </p>
        <hr>
        <div class="contact-form-container">
          <form id="email-form" method="POST" action="£">
            <!-- {% csrf_token %}
            {% if messages %} -->
    
            <!-- <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul> -->
            <!-- {% endif %} -->
            <!-- Container with Venues to select from -->
            <div class="">
                <h6>Complete the form below to contact us with any questions about WIFT:</h6>
                <label for="name">Name:</label>
                <input type="text"><br>
                <label for="email">Email:</label>
                <input type="text"><br>
                <label for="message">Message:</label><br>
                <input type="text">
            </div>
            <div>
              <button class="btn btn-secondary" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}