{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Public Events{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="events-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Public Events</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="p-4 card-subsection">
        <h4 class="text-green">Networking & Community Building Events</h4>
        <p>
            WIFT organises a variety of public and members only events through the year.
            Our events focus on the important aspects of networking and community building for our
            members and the greater WIFT community. <a href="{% url 'join' %}" aria-label="Opens the WIFT Join Page">To view all the WIFT events, become a member today!</a> 
        </p>
      </div>
  </div>
  <div class="container-card my-4">
    <div class="bkgrd-green color-block"></div>
    <div class="p-4 card-subsection">
        <h4 class="text-green">Galway Film Festival</h4>
        <p>Join this lively showcase of films created by Irish film makers. WIFT will hold a special panel 
          discussion on Women in Irish film and television industry on Saturday at 3pm. 
        </p>
        <p>
          Friday - Sunday, 4th -6th July 2025 at the Town Hall Theatre.
        </p>
        <a href="https://tht.ie/" target="_blank" rel="noopener" aria-label="Opens Town Hall Theatre website in a new tab">Buy tickets for this event</a>
    </div>
  </div>
    <div class="container-card my-4">
        <div class="bkgrd-yellow color-block"></div>
        <div class="p-4 card-subsection">
          <h4 class="text-green">Brown Bag Lunch with Director Fiona Mills</h4>
          <p>Join us for fun and casual chat with Fiona Mills, director of "Some Things are 
            Happening" and "Laughing Downstairs" to learn about her journey into directing and
            some tips for starting in the industry. For all professional levels. Bring your own lunch.
          </p>
          <p>
            Wednesday, 19th March 2025 at the Abbey Theatre, Dublin.
          </p>
          <a href="{% url 'contact' %}" aria-label="Goes to the contact page to register interest in this event">Send us a message to reserve your place</a>
        </div>
    </div>
    <div class="container-card my-4">
        <div class="bkgrd-blue color-block"></div>
        <div class="p-4 card-subsection">
            <h4 class="text-green ">Student Film Showcase</h4>
            <p>Join the WIFT community in supportin the student work of 8 very talented young 
              women. From more than 100 submissions, these 8 short films rose to the top as 
              this years best student films.
            </p>
            <p>
              Saturday, 6pm -9pm, 21st April 2025 at the Irish Film Institute, Dublin.
            </p>
            <a href="https://ifi.ie/" target="_blank" rel="noopener" aria-label="Opens Irish Film Institute website in a new tab">Get your tickets today!</a>
        </div>
    </div>
</div>
{% endblock %}