{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Public Events{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="events-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Public Events</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="p-4 card-subsection">
        <h4 class="text-green">Networking & Community Building Events</h4>
        <p>
            WIFT organises a variety of public and members only events through the year.
            Our events focus on the important aspects of networking and community building for our
            members and the greater WIFT community. <a href="#">To view all the WIFT events, become a member today!</a> 
        </p>
        <p>
            <span style="font-weight: bold;">LIST OF WIFT EVENTS</span>
        </p>
      </div>
  </div>
</div>
{% endblock %}