{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Fellowships{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="fellowships-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>WIFT Fellowships</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="p-4 card-subsection">
        <h4 class="text-green">Build Your Skills</h4>
        <p>
          WIFT-Ireland is committed to promoting women and advancing the careers of 
          women, non-binary, and trans people in the entertainment industry
        </p>
        <p>
          Our WIFT Fellowship program for 2025 welcomes Fellows from each sector of the 
          entertainment industry. A WIFT Fellowship includes a year of mentoring, master 
          classes, networking, and one-to-one career sessions as well as peer-to-peer 
          support in our unique framework.
        </p>
        <p>
          As a WIFT Fellow, you will have the opportunity 
          to interact with senior industry decision-makers at our Partner Companies with 
          opportunities for early career advancement.
        </p>
      </div>
  </div>
</div>
{% endblock %}