{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Join Us{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="join-image featured-image">
      <div class="overlay-text-featured-img-join">
        <h2>Join WIFT</h2>
      </div>
    </div>
</div>

<div class="container-md container-home-subsection px-6 justify-content-center">
    <div class="container-card my-4">
        <div class="bkgrd-green color-block"></div>
        <div class="p-4 card-subsection">
            <h4 class="text-green">WIFT Membership</h4>
            <p>
                Joining our WIFT community gives you the access and support of our amazing WIFT
                community. With exclusive members only access, build your network and skills to 
                the next level with our unique networking opportunities and seminars designed to 
                growth your unique career.
            </p>
            <a href="{% url 'account_signup' %}" aria-label="WIFT Sign up for membership" rel="noopener">
                <button class="button-join-us">register your membership now <i class="fa-solid fa-arrow-right-long"></i></button>
            </a>
        </div>
    </div>
    <div class="container-card my-4">
        <div class="bkgrd-yellow color-block"></div>
        <div class="p-4 card-subsection">
            <h4 class="text-green">Global Benefits</h4>
            <p>
                Every membership level has access to the following benefits:
            </p>
            <div>
                <ul>
                    <li>
                        Access to a large community of creative, accomplished Women through our
                        exclusive Membership Directory and LinkedIn community
                    </li>
                    <li>
                        Free admission to public, Members Only Events and screenings such as panel discussions,
                        brown bag lunches, and seminars
                    </li>
                    <li>
                        Discounted admission to partnered events
                    </li>
                    <li>
                        Invitations to guild and studio screenings
                    </li>
                    <li>
                        Access to professional development programs such as our Member Mentorship
                        program and exclusive networking and skill-building events and workshops
                    </li>
                    <li>
                        Discounted application fees for our public programs when applicable
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-card my-4">
        <div class="bkgrd-blue color-block"></div>
        <div class="p-4 card-subsection">
            <h4 class="text-green ">Membership Levels</h4>
            <p>Our membership directory features all the top leaders and creative professionals
                in Ireland. Whether you are just starting out, building your career, or
                are a leader in the industry and are looking for creatives to build your team,
                you can gain access to the names and work of Ireland's WIFT community. 
                Become a member to gain access to this incredible resource.
            </p>
            {% for category in categories %}
                <div class="container-membership pb-4">
                    <hr>
                    <h5>{{ category.name }}</h5>
                    <p>
                        {{ category.description|safe }}
                    </p> 
                    <p>
                        <span class="price">Annual Dues: €{{ category.new_member_price }}</span>
                    </p>
                </div>
            {% endfor %}
            <a href="{% url 'account_signup' %}" aria-label="WIFT Sign up for membership" rel="noopener">
                <button class="button-join-us">register your membership now <i class="fa-solid fa-arrow-right-long"></i></button>
            </a>
        </div>
    </div>
</div>
{% endblock %}