{% extends 'base.html' %}
{% load static %}

{% block extra_title %}WIFT - Mentoring{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="mentoring-image">
      <div class="overlay-text-featured-img">
        <h2>WIFT Mentorships</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <div class="p-4 card-subsection">
        <h4 class="text-green">One-To-One Support</h4>
        <p>
            WIFT Mentor program partner our students with established professionals 
            in the industry in a unique opportunity for students to shadow and learn 
            hands-on a particular role. 
        </p>
      </div>
  </div>
</div>
{% endblock %}