{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}- Member Dashboard{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="about-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Member Dashboard</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <!-- Member's Profile Detail -->
      <div class="p-4 card-subsection">
        {% for member in member_private %}
        <h4 class="text-green">{{ member.default_firstname }} {{ member.default_lastname }}</h4>

        <div class="container-dashboard-main">
          {% include 'includes/dashboard_nav.html' %}
          
          <!-- Dashboard Main Section -->
          <div class="container-dashboard-body">
            <!-- Member's Private Directory Info -->
            <div class="container-dashboard-private bkgrd-blue text-white p-3">Account Summary</div>
            <div class="container-private-info p-3">
              <div class="container-private-info">
                <div class="container-subheader text-muted">Name:</div>
                <div>{{ member.default_firstname }} {{ member.default_lastname }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Email:</div>
                <div>{{ member.member.email }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Address:</div>
                <div>{{ member.default_street_address1 }},
                  {% if member.default_street_address2 %} {{ member.default_street_address2 }},{% endif %}
                  {{ member.default_town_or_city }},
                  {{ member.default_county }},
                  {{ member.default_postcode }}
                  {% if member.default_street_address2 %}, {{ member.default_country }}{% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
            <!-- Member's Public Directory Info -->
            {% for member in member_public %}
            <div class="container-dashboard-public bkgrd-blue text-white p-3">Public Directory Profile</div>
            <div class="container-private-info p-3">
              <div class="container-private-info">
                <div class="container-subheader text-muted">Name:</div>
                
                <div>{% if member.public_firstname %}{{ member.public_firstname }}{% endif %} {{ member.public_lastname }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Job Title:</div>
                <div>{{ member.job_title }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Company:</div>
                <div>{{ member.company_name }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Website:</div>
                <div>
                  <a href="{{ member.website }}" target="_blank" rel="noopener" aria-label="Opens {{ member.website }} website in a new tab">
                    {{ member.website }}
                  </a>
                </div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">IMDB:</div>
                <div>
                  <a href="{{ member.imdb }}" target="_blank" rel="noopener" aria-label="Opens {{ member.imdb }} website in a new tab">
                    {{ member.imdb }}
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- Member's Most Recent Membership Purchase -->
            {% for purchase in membership_purchase %}
            <div class="container-dashboard-public bkgrd-blue text-white p-3">Membership purchased</div>
            <div class="container-private-info p-3">
              <div class="container-private-info">
                <div class="container-subheader text-muted">Membership:</div>
                <div>{{ purchase.membership_purchased }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Cost:</div>
                <div>€{{ purchase.purchase_total }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Purchased:</div>
                <div>{{ purchase.purchase_date }}</div>
              </div>
              <div class="container-private-info">
                <div class="container-subheader text-muted">Renew:</div>
                <div>00 Month year</div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}