{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}- Member Dashboard{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="about-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Member Dashboard</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <!-- Member's Profile Detail -->
      <div class="p-4 card-subsection">
        {% for member in member_private %}
        <h4 class="text-green">{{ member.default_firstname }} {{ member.default_lastname }}</h4>

        <div class="container-dashboard-main">
          {% include 'includes/dashboard_nav.html' %}
          
          <!-- Dashboard Main Section -->
          <div class="container-dashboard-body">
            <!-- Member's Private Directory Info -->
            <div class="container-dashboard-private bkgrd-blue text-white p-3">Public Profile</div>
            <div class="container-private-info p-3">
              <p>Update your profile below:</p>
              <form action="{% url 'edit_public_data' member.member.id %}" method="POST" id="edit-private-data-form">
                {% csrf_token %}
                {{ public_data_form | crispy }}
                <a href="{% url 'dashboard' member.member.id %}" class="btn btn-outline-black rounded-0">
                  <span class="icon">
                      <i class="fa-solid fa-circle-chevron-left"></i>
                  </span>
                  <span class="font-weight-bold">Cancel</span>
                </a>
                {% if user.is_authenticated and member.member == user %}             
                  <button id="submit-button" class="button-join-us my-2">
                    <span class="">Update Profile </span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                  </button>
                {% endif %}
              </form>
              {% if user.is_authenticated and member.member == user %}
                    <!-- Delete Booking Button -->
                    <button class="button-delete py-2 btn-delete" data-profile_id="{{ member.member.id }}">
                      Delete Profile
                    </button>
              {% endif %}
            </div>
        {% endfor %} 
          </div>
        </div>
      </div>
  </div>
  <!-- Delete Modal - Source: CI DJango Blog Project -->
  <!-- Delete confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
            id="deleteModalLabel">Delete profile?</h5>
          <button type="button" class="btn-close"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your public profile?
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn
            btn-danger" aria-label="Delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
  <script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}