{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}- Member Dashboard{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="about-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Member Dashboard</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <!-- Member's Profile Detail -->
      <div class="p-4 card-subsection">
        {% for member in member_private %}
        <h4 class="text-green">{{ member.default_firstname }} {{ member.default_lastname }}</h4>

        <div class="container-dashboard-main">
          {% include 'includes/dashboard_nav.html' %}
        {% endfor %}
          <!-- Dashboard Main Section -->
          <div class="container-dashboard-body">
            
            <div class="container-dashboard-private bkgrd-blue text-white p-3">Member Directory</div>
              <!-- Member's Purchase receipts -->  
              <div class="member-card-container p-3">
                {% for member in member_profiles %}
                  <div class="member-card-individual">
                    <p><span class="text-muted">Name:</span> <span class="font-weight-bold text-blue">{{ member.public_firstname }} {{ member.public_lastname }}</span></p>
                    <p><span class="text-muted">Title:</span> {{ member.job_title }}</p>
                    {% if member.company_name %}<p><span class="text-muted">Company:</span> {{ member.company_name }}</p>{% endif %}
                    {% if member.website %}<p><span class="text-muted">Website:</span> 
                      <a href="{{ member.website }}" target="_blank" rel="noopener" aria-label="Opens {{ member.website }} website in a new tab">
                        {{ member.website }}
                      </a>
                    </p>{% endif %}
                    {% if member.imdb %}<p><span class="text-muted">IMDB:</span> 
                      <a href="{{ member.imdb }}" target="_blank" rel="noopener" aria-label="Opens {{ member.imdb }} website in a new tab">
                        {{ member.imdb }}
                      </a>
                    </p>{% endif %}
                    <hr>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}