{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}- Member Dashboard{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="about-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Member Dashboard</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <!-- Member's Profile Detail -->
      <div class="p-4 card-subsection">
        {% for member in member_private %}
        <h4 class="text-green">{{ member.default_firstname }} {{ member.default_lastname }}</h4>

        <div class="container-dashboard-main">
          {% include 'includes/dashboard_nav.html' %}
        {% endfor %}
          <!-- Dashboard Main Section -->
          <div class="container-dashboard-body">
            
            <div class="container-dashboard-private bkgrd-blue text-white p-3">Membership Purchase Receipts</div>
              <!-- Member's Purchase receipts -->  
              <div class="purchase-card-container p-3">
                {% for purchase in membership_purchases %}
                  <div class="purchase-card-individual">
                    <p><span class="text-muted">Membership:</span> <span class="font-weight-bold text-blue">{{ purchase.membership_purchased}}</span></p>
                    <p><span class="text-muted">Annual Cost:</span> €{{ purchase.purchase_total }}</p>
                    <p><span class="text-muted">Purchase date:</span> {{ purchase.get_purchase_date }}</p>
                    <p><span class="text-muted">Expiration Date:</span> {{ purchase.get_expiration_date }}</p>
                    <p><span class="text-muted">Status:</span> {% if purchase.is_active %}<span class="text-success font-weight-bold">Active</span>{% else %}<span class="text-danger font-weight-bold">Inactive</span>{% endif %}</p>
                  </div>
                  <hr>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}