{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}- Member Dashboard{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="about-image featured-image">
      <div class="overlay-text-featured-img">
        <h2>Member Dashboard</h2>
      </div>
    </div>
</div>
<div class="container-md container-home-subsection px-6 justify-content-center">
  <div class="container-card my-4">
      <!-- Member's Profile Detail -->
      <div class="p-4 card-subsection">
        {% for member in member_private %}
        <h4 class="text-green">{{ member.default_firstname }} {{ member.default_lastname }}</h4>

        <div class="container-dashboard-main">
          {% include 'includes/dashboard_nav.html' %}
        {% endfor %}
          <!-- Dashboard Main Section -->
          <div class="container-dashboard-body">
            <!-- Member's Purchase receipts -->
            <div class="container-dashboard-private bkgrd-blue text-white p-3">Membership Purchase Receipts</div>
              <!-- Displays Active Approved Bookings -->
              <div class="booking-card-container">
                <!-- {% for purchase in membership_purchases %} -->
                <!-- {% if booking.is_active %} -->
                  <!-- <div class="purchase-card-individual">
                    <p class="text-muted">Membership: {{ purchase }}</p>
                    <p><span class="text-muted bold">Annual Cost:</span> {{  }}</p>
                    <p><span class="text-muted bold">Purchase date:</span> {{  }}</p>
                    <p><span class="text-muted bold">Expiration Date:</span> {{  }}</p>
                    <p><span class="text-muted bold">Number of guests:</span> {{ }}</p>
                    <p><span class="text-muted bold">Status:</span> {% if purchase.status == 1 %}<span class="green bold">Approved</span>{% else %}<span class="red bold">Pending Approval</span>{% endif %}</p>
                  </div> -->
                  <!-- {% endif %} -->
                  <!-- {% empty %}
                
              No bookings yet -->
              <!-- {% endfor %} -->

              </div>
            <div class="container-purchase-receipt-card">{{ membership_purchase }}</div>
            {{ member_private }}
        
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}