{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %}- Member profile{% endblock %}

{% block content %}
<div class="featured-image-container">
    <div class="join-image featured-image">
      <div class="overlay-text-featured-img-join">
        <h2>WIFT Membership Registration</h2>
      </div>
    </div>
</div>

<div class="container-md container-home-subsection px-6 justify-content-center">
    <div class="container-card my-4">
        <div class="p-4 card-subsection">
            <h4 class="text-green text-center">Choose your membership level</h4>
            <p>
                Choose to proceed to complete you registration with WIFT 
            </p>
            <!-- Registration form for Membership selection -->
            <form id="registration-form" method="POST" action="#">
            {% csrf_token %}
            {{ form | crispy }}
            </form>
          </div>
    </div>

    <div class="container-card my-4">
        <!-- <div class="bkgrd-blue color-block"></div> -->
        <div class="p-4 card-subsection">
            <h4 class="text-green ">Member Profile</h4>
            {% for category in categories %}
                <div class="container-membership pb-4">
                    <hr>
                    <h5>{{ category.name }}</h5>
                    <p>
                        {{ category.description|safe }}
                    </p> 
                    <p>
                        <span class="price">Annual Dues: €{{ category.new_member_price }}</span>
                    </p>
                </div>
            {% endfor %}
            <a href="{% url 'account_signup' %}" aria-label="WIFT Sign up for membership" rel="noopener">
                <button class="button-join-us">register your membership now <i class="fa-solid fa-arrow-right-long"></i></button>
            </a>
        </div>
    </div>
</div>
{% endblock %}